body{
    margin: 0px;
    padding: 0px;
}
.nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 228px;
}

h3{
    font-size: 45px;
    font-weight: 700;
}

.flexing-things{
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    margin-left: 20px;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 116px;
}

h1{
    font-size: 64px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-family: 'Work Sans';
    font-weight: 400px;
    
}
header button{
    display: flex;
    justify-content: center;
    background-color: #FF900E;
    padding: 20px 25px 20px 25px;
    border-radius: 8px;
    
}
button a{
    color: #FFFFFF;
}

.banner img{
    width: 800px;
    height: 400px;
    display: flex;
    margin-top: 20px;
    margin-left: 70px;
    justify-content: center;
}
.special-color{
    color: #727272;
}
.special-color2{
    color: #FF900E;
}
.container{
    margin: 30px 20px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 20px;
    justify-items: center;
}
.four-images-managing{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 10px;
}
.four-images-managing img{
    height: 150px;
    width: 150px;
}

.feature-section{
    display: flex;
    justify-content: space-around;
    margin: 20px;

}
.left-border{
    border-left: 5px solid #FF900E;
    border-radius: 20px;
}

.feature-section img{
    width: 525px;
    height: 700px;
}
.experience-button{
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 10px 20px;
    border-radius: 5px;
    border: #FFFFFF;
}
.big-button-font{
    font-size: 25px;

}
.achievements{
    display: flex;
    justify-content: center;
}
.icon{
    border: .5px solid #FF900E;
    width: fit-content;
    padding: 20px 80px;
    margin: 20px;
    text-align: center;
}