body{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans'
}
.nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 228px;
}

h3{
    font-size: 45px;
    font-weight: 700;
}

.flexing-things{
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    margin-left: 20px;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 116px;
}

h1{
    font-size: 64px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-weight: 400px;
    
}
header button{
    background-color: #FF900E;
    padding: 20px 25px 20px 25px;
    border-radius: 8px;
    
}
button a{
    color: #FFFFFF;
}

.banner img{
    width: 800px;
    height: 400px;
    display: flex;
    margin-top: 20px;
    margin-left: 70px;
    justify-content: center;
}
.special-color{
    color: #727272;
}
.special-color2{
    color: #FF900E;
}
.container{
    margin: 30px 20px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 20px;
    justify-items: center;
}
.four-images-managing{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 10px;
}
.four-images-managing img{
    height: 150px;
    width: 150px;
}

.feature-section{
    display: flex;
    justify-content: space-around;
    margin: 20px;

}
.left-border{
    border-left: 5px solid #FF900E;
    border-radius: 20px;
}

.feature-section img{
    width: 525px;
    height: 700px;
}
.experience-button{
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 10px 20px;
    border-radius: 5px;
    border: #FFFFFF;
}
.experience-button:hover{
    transform: translate(0px,-40px);
    transition-duration: 1s;
}
.big-button-font{
    font-size: 25px;

}
.achievements{
    display: flex;
    justify-content: center;
}
.icon{
    border: .5px solid #FF900E;
    border-radius: 5px;
    width: fit-content;
    padding: 20px 80px;
    margin: 20px;
    text-align: center;
}
.icon:hover{
    transform: scale(1.15,1.15);
    transition-duration: 2s;
    background-color: #FF900E;
}
.sponsors{
    text-align: center;
}
.flexing-sponsors{
    display: flex;
    justify-content: space-around;
}

footer{
    text-align: center;
    background-color: #FFF4E7;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*-------------
 Media Queries 
---------------*/

/*For mobile devices */
@media only screen and (max-width:688px){
    .nav-section{
        flex-direction: column;
    }
    .flexing-things{
        flex-direction: column;
    }
    .banner img{
        width: 400px;
        height: 200px;
    }
    .four-images-managing{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .feature-section{
        flex-direction: column;
    }
    .achievements{
        flex-direction: column;
    }
    .flexing-sponsors{
        flex-direction: column;
        margin: 20px;
    }
}